<template>
    <section class="col-lg-3 col-sm-6 pst-relative">
        <div class="pst-relative">
            <h2 class="h2-heading">
                Popularne
            </h2>
            <div class="pst-absolute pst-info-heading">
            </div>
        </div>
        <div class="most__popular__container pst-relative">
            <div class="most__popular"
                 v-for="n, i in articles" :key="n.id"
                 :style="{margin: sliderMargin[i]}">
                <div class="pst-relative">
                    <div>
                        <img :src="n.image_link"
                             :alt="n.image_description"
                             class="image-with-text-on">
                        <h3 class="title-on-photo">
                            {{ n.title }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="pst-absolute most__popular__dots">
            <span class="dot" @click="changeSlide(0)">1</span>
            <span class="dot" @click="changeSlide(1)">2</span>
            <span class="dot" @click="changeSlide(2)">3</span>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                articles: [],
                errors: [],
                step: 0
            }
        },
        created() {
            try {
                let response = {"records":[{"id":"6","title":"Nie tak sobie to wszystko wyobra\u017ca\u0142em...","author":"Anonimowy operator \u017curawia","image_link":"https:\/\/image.ibb.co\/jSCw7v\/6.jpg","image_description":""},{"id":"64","title":"10 prawicowych k\u0142amstw na temat aborcji","author":"Ala Wi\u015bniewska","image_link":"https:\/\/image.ibb.co\/hiAoLF\/57.jpg","image_description":""},{"id":"49","title":"Gay pride","author":"Sebastian S\u0142owi\u0144ski","image_link":"https:\/\/image.ibb.co\/bSLi5F\/gaypride.jpg","image_description":""},{"id":"62","title":"W imieniu niemych aktywistek. List otwarty do Codziennika Feministycznego (i nie tylko)","author":"Kolektyw Opinia Bie\u017c\u0105ca ","image_link":"https:\/\/preview.ibb.co\/fxbHEa\/55.jpg","image_description":""},{"id":"52","title":"Prawdziwi Polacy","author":"Anna Lamers ","image_link":"https:\/\/image.ibb.co\/fYUF0F\/45.jpg","image_description":""},{"id":"9","title":"Szko\u0142a w s\u0142u\u017cbie prawicowej propagandy","author":"Piotr Szumlewicz","image_link":"https:\/\/image.ibb.co\/iiBCfF\/9.jpg","image_description":""},{"id":"12","title":"Feminizm, reprodukcja i komunizm","author":"Morgane Merteuil","image_link":"https:\/\/image.ibb.co\/hWqSEa\/12.jpg","image_description":""},{"id":"56","title":"Stanowisko kolektywu w sprawie ataku na Teatr Powszechny ","author":"Kolektyw Opinia Bie\u017c\u0105ca ","image_link":"https:\/\/image.ibb.co\/jKZ4ua\/48.jpg","image_description":""},{"id":"60","title":"PUPA BEYONC\u00c9 NA PLA\u017bY [ZOBACZ ZDJ\u0118CIA] - p\u0142e\u0107 kulturowa a dyskurs","author":"Julia Minasiewicz","image_link":"https:\/\/image.ibb.co\/cJeF0F\/53.jpg","image_description":""}]}
                this.articles = response.records;
                console.log(this.articles);
            } catch (e) {
                this.errors.push(e)
            }
        },
        mounted() {
            setInterval(() => {
                this.step = (this.step + 1) % 3;
            }, 5000);
        },
        computed: {
            sliderMargin() {
                const thresholds = [0, 3, 6];

                return this.articles.map((_, i) =>
                    `${(i > thresholds[this.step]) ? '10px' : '-190px'} 0 10px 0`
                );
            }
        },
        methods: {
            changeSlide(nr) {
                this.step = nr;
            }
        }
    }

</script>
<style scoped="">
    section {
        width: 200px;
    }
    .most__popular {
        margin: 10px 0;
        transition: 1s all;
    }
    .most__popular__container {
        overflow: hidden;
        height: 580px;
    }
    .most__popular__dots {
        left: 0;
        top: 50%;
        transform: translateY(-60%);
    }
    .most__popular:first-child {
        margin-top: 0 !important;
    }
    .dot {
        display: block;
        background-color: #c3c3c3;
    }
</style>