<template>
  <scroll-elements></scroll-elements>
</template>

<script>
import scrollElements from './components/scrollElements'

export default {
  name: 'App',
  components: {
    scrollElements
  }
}
</script>
<style>
    /* Styles below are used within entire web app */
    a {
        text-decoration: none;
        font-family: 'Sansita', sans-serif;
        text-transform: uppercase;
    }
    .list-inline {
        list-style: none;
        display: flex;
        margin: 0;
    }
    .list-inline > li {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }
    .list-inline--exploded {
        justify-content: space-around;
    }
    .form-group {
        margin-bottom: 0.3rem;
        margin-top: 0.2rem;
    }
    .no-padding {
        padding: 0;
    }
    /* headings */
    .h2-heading {
        background-color: black;
        color: white;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 22px;
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'Sansita', sans-serif;
        border-radius: 0.25rem;
        min-height:37px;
    }
    .h5-heading {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .h6-heading {
        margin-top: 25px;
    }
    .pst-relative {
        position: relative;
    }
    .pst-absolute {
        position: absolute;
    }
    .title-on-photo {
        position: absolute;
        bottom: 5px;
        width: 98%;
        left: 3px;
        background: rgba(0, 0, 0, 0.75);
        padding: 4px 8px;
        color: white;
        margin: 0;
        font-size: 18px;
        font-family: 'Sansita', sans-serif;
        border-radius: 0.25rem;
    }
    .image-with-text-on {
        width: 100%;
        height: 180px;
    }
    .pst-info-heading {
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }
    .main__button--black {
        background-color: black;
        text-transform: uppercase;
        font-family: 'Sansita', sans-serif;
        color: white;
    }
    .active a {
        background: black !important;
        box-shadow: none;
        border: 1px solid dimgrey;
    }
    .no-gutters {
        margin: 0;
    }
    .icon-input {
        right: 5px;
        top: 4px;

    }
    .btn-dropdown {
        color: black !important;
        border-radius: 0.25rem;
        text-transform: uppercase;
    }
    .btn-dropdown button:hover {
        background-color: white !important;
    }
    .btn-dropdown button {
        background-color: white;
        border: 0;
        height: 38px;
        color: black;
        text-transform: uppercase;
        font-family: 'Sansita', sans-serif;
    }
    button:hover {
        color: black !important;
        cursor: pointer;
    }
    .bordered__container {
        margin: 30px auto;
        padding: 0 0 30px 0;
        border: 2px solid black;
        min-height: 500px;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        border-radius: 0.25rem;
    }
    .button-width {
        width:99.5%;
    }
    body {
        height: 2000px;
    }
</style>
